alabaster==0.7.16 ; python_version >= "3.9" and python_version < "4.0"
annotated-types==0.6.0 ; python_version >= "3.9" and python_version < "4.0"
anyio==4.9.0 ; python_version >= "3.9" and python_version < "4.0"
asgiref==3.8.1 ; python_version >= "3.9" and python_version < "4.0"
astor==0.8.1 ; python_version >= "3.9" and python_version < "4.0"
attrs==25.3.0 ; python_version >= "3.9" and python_version < "4.0"
autoflake==2.3.1 ; python_version >= "3.9" and python_version < "4.0"
babel==2.17.0 ; python_version >= "3.9" and python_version < "4.0"
black==24.10.0 ; python_version >= "3.9" and python_version < "4.0"
certifi==2025.6.15 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "4.0"
chardet==4.0.0 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.9" and python_version < "3.11"
click==8.2.1 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
contourpy==1.3.0 ; python_version >= "3.9" and python_version < "3.11"
contourpy==1.3.2 ; python_version >= "3.11" and python_version < "4.0"
coverage==7.9.1 ; python_version >= "3.9" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "4.0"
deprecated==1.2.18 ; python_version >= "3.9" and python_version < "4.0"
dill==0.4.0 ; python_version >= "3.9" and python_version < "4.0"
docutils==0.21.2 ; python_version >= "3.9" and python_version < "4.0"
et-xmlfile==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.3.0 ; python_version >= "3.9" and python_version < "3.11"
fastapi==0.112.4 ; python_version >= "3.9" and python_version < "4.0"
flake8-bugbear==24.12.12 ; python_version >= "3.9" and python_version < "4.0"
flake8-comprehensions==3.16.0 ; python_version >= "3.9" and python_version < "4.0"
flake8-simplify==0.22.0 ; python_version >= "3.9" and python_version < "4.0"
flake8==7.3.0 ; python_version >= "3.9" and python_version < "4.0"
fonttools==4.58.4 ; python_version >= "3.9" and python_version < "4.0"
greenlet==3.2.3 ; python_version >= "3.9" and python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.16.0 ; python_version >= "3.9" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.9" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==8.7.0 ; python_version >= "3.9" and python_version < "4.0"
importlib-resources==6.5.2 ; python_version == "3.9"
iniconfig==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
isort==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "4.0"
joblib==1.5.1 ; python_version >= "3.9" and python_version < "4.0"
kiwisolver==1.4.7 ; python_version >= "3.9" and python_version < "3.11"
kiwisolver==1.4.8 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "4.0"
matplotlib==3.10.3 ; python_version >= "3.11" and python_version < "4.0"
matplotlib==3.9.4 ; python_version >= "3.9" and python_version < "3.11"
mccabe==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
mdit-py-plugins==0.4.2 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
more-itertools==10.7.0 ; python_version >= "3.9" and python_version < "4.0"
multiprocess==0.70.18 ; python_version >= "3.9" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
mypy==1.16.1 ; python_version >= "3.9" and python_version < "4.0"
myst-parser==3.0.1 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "4.0"
openpyxl==3.1.5 ; python_version >= "3.9" and python_version < "4.0"
orjson==3.10.18 ; python_version >= "3.9" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.9" and python_version < "4.0"
pandas==2.3.0 ; python_version >= "3.9" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.9" and python_version < "4.0"
patsy==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
pillow==11.2.1 ; python_version >= "3.9" and python_version < "4.0"
platformdirs==4.3.8 ; python_version >= "3.9" and python_version < "4.0"
pluggy==1.6.0 ; python_version >= "3.9" and python_version < "4.0"
polars==0.20.31 ; python_version >= "3.9" and python_version < "4.0"
psutil==5.9.8 ; python_version >= "3.9" and python_version < "4.0"
pycodestyle==2.14.0 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4.0"
pydantic-core==2.33.2 ; python_version >= "3.9" and python_version < "4.0"
pydantic-settings==2.10.0 ; python_version >= "3.9" and python_version < "4.0"
pydantic==2.11.7 ; python_version >= "3.9" and python_version < "4.0"
pyflakes==3.4.0 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.9" and python_version < "4.0"
pyparsing==3.2.3 ; python_version >= "3.9" and python_version < "4.0"
pytest==8.4.1 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
python-multipart==0.0.20 ; python_version >= "3.9" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.4 ; python_version >= "3.9" and python_version < "4.0"
scikit-learn==1.6.1 ; python_version >= "3.9" and python_version < "3.11"
scikit-learn==1.7.0 ; python_version >= "3.11" and python_version < "4.0"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "3.11"
scipy==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
seaborn==0.13.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.9" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
snowballstemmer==3.0.1 ; python_version >= "3.9" and python_version < "4.0"
sphinx==7.4.7 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
sqlalchemy==2.0.41 ; python_version >= "3.9" and python_version < "4.0"
starlette==0.38.6 ; python_version >= "3.9" and python_version < "4.0"
statsmodels==0.14.4 ; python_version >= "3.9" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.9" and python_version < "4.0"
threadpoolctl==3.6.0 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
tqdm==4.67.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.14.0 ; python_version >= "3.9" and python_version < "4.0"
typing-inspection==0.4.1 ; python_version >= "3.9" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.9" and python_version < "4.0"
uvicorn==0.32.1 ; python_version >= "3.9" and python_version < "4.0"
validators==0.34.0 ; python_version >= "3.9" and python_version < "4.0"
wrapt==1.17.2 ; python_version >= "3.9" and python_version < "4.0"
xlsxwriter==3.2.5 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.23.0 ; python_version >= "3.9" and python_version < "4.0"
