# Binary files #####################################################################################
bin
build
dist
obj

# Java
target
*.class

# C++
Debug
Release
Win32
X64
*.dll

# Configuration files ##############################################################################
# Eclipse
.buildpath
.classpath
.project
*.prefs

# EditorConfig
.editorconfig

# Gradle
.gradle
gradle*

# IntelliJ IDEA
.idea
*.iml

# Netbeans
nb-configuration.xml
nbproject

# Visual Studio
.vs
*.opensdf
*.sdf
*.suo
*.vcxproj.user


# Log files ########################################################################################
logs
*.log
*err.log
*out.log

# Java virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Package files ####################################################################################
*.ear
*.jar
*.pkg
*.rar
*.rpm
*.tar.gz
*.war
*.zip


# Personal files ###################################################################################
$*
*.new
*.old
