# Binary files #####################################################################################

bin
build
dist
obj

# Java
target
*.class

# C++
Debug
Release
Win32
X64
*.dll


# Configuration files ##############################################################################

# Eclipse
.classpath
.project
.settings
*.prefs

# IntelliJ IDEA
.idea
modules.xml
profiles_settings.xml
vcs.xml
workspace.xml
*.iml

# Netbeans
nbproject
nb-configuration.xml
nbactions.xml

# - RStudio
.RData
.Rhistory

# Visual Studio
.vs
*.opensdf
*.sdf
*.suo
*.vcxproj.user


# Log files ########################################################################################

logs
*.log
*err.log
*out.log

# Java virtual machine crash logs (see http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*


# Package files ####################################################################################

*.ear
*.jar
*.rar
*.tar.gz
*.war
*.zip


# Personal files ###################################################################################

$*
*.new
*.old
*.tmp

# System files #####################################################################################

.DS_Store


# Uranus files #####################################################################################

profile-all
uranus-all.sh
